@font-face {
  font-family: 'CircularStd';
  src: local('Circular Std Medium'), local('CircularStd-Medium'),
  url('./assets/fonts/CircularStd-Medium.woff2') format('woff2'),
  url('./assets/fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: local('Circular Std Book'), local('CircularStd-Book'),
  url('./assets/fonts/CircularStd-Book.woff2') format('woff2'),
  url('./assets/fonts/CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: local('Circular Std Medium Italic'), local('CircularStd-MediumItalic'),
  url('./assets/fonts/CircularStd-MediumItalic.woff2') format('woff2'),
  url('./assets/fonts/CircularStd-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: local('Circular Std Black'), local('CircularStd-Black'),
  url('./assets/fonts/CircularStd-Black.woff2') format('woff2'),
  url('./assets/fonts/CircularStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: local('Circular Std Bold'), local('CircularStd-Bold'),
  url('./assets/fonts/CircularStd-Bold.woff2') format('woff2'),
  url('./assets/fonts/CircularStd-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: local('Circular Std Bold Italic'), local('CircularStd-BoldItalic'),
  url('./assets/fonts/CircularStd-BoldItalic.woff2') format('woff2'),
  url('./assets/fonts/CircularStd-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
  url('./assets/fonts/CircularStd-BookItalic.woff2') format('woff2'),
  url('./assets/fonts/CircularStd-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: local('Circular Std Black Italic'), local('CircularStd-BlackItalic'),
  url('./assets/fonts/CircularStd-BlackItalic.woff2') format('woff2'),
  url('./assets/fonts/CircularStd-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  background-color: #121212;
}

.spoti_track_container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.spoti_track_meta {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: 10px;
}

.spoti_track_album {
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1px;
}
.grid-tmp-col{
  grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
}

.grid-tmp-col2{
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

.grid-tmp-col.m{
  grid-template-columns: repeat(auto-fit, minmax(124px, 1fr));
}

@tailwind base;
@tailwind components;
@tailwind utilities;